env/
.vscode/
__pycache__/

.ipynb_checkpoints/
src/.ipynb_checkpoints/

gender_clf/data/

notebooks/model_checkpoint
notebooks/*.pth

data/UTKFace
data/UTKFace.tar.gz
data/age_gender.csv

utkface/model_checkpoint
utkface/*.pth

celeba/CelebA

resnet_ffceloss/mnist