env/
.vscode/
__pycache__/

.ipynb_checkpoints/
src/.ipynb_checkpoints/

gender_clf/data/

notebooks/model_checkpoint
notebooks/*.pth

data/UTKFace
data/MNIST
data/MNISTjpg
data/MNISTjpg.zip
data/UTKFace.tar.gz
data/age_gender.csv

src/model_checkpoint
src/*.pth

celeba/CelebA

resnet_ffceloss/mnist